

.calendar {
    display: block;
     border-right: 3px solid #000;
	 float:left;
	 width: 100%;
}
.calendar-day {
    padding: 2px 8px;
    width: 107px;
    height: 102px;
    line-height: 102px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 3px solid #000;
    float: left;
    border-right: 0;
    border-top: 0;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto';
}
.calendar-day a:hover p {
    color:#000;
}

.calendar-day.hasEvent {
	background-color: #000;
	color: #fff;
}

.calendar-container {
	margin-top: 30px;
	max-width: 782px;
	position: relative;
}

.calendar-day.hasEvent:hover {
    background: #63e797;
    color: #000;
}

.controls {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    border: 3px solid #000;
	position: relative;
}

.controls span {
    font-family: 'Roboto';
}
.today {
    font-weight: bold;
    color: #333;
    border: solid 1px #333;
}

.label {
    background-color: #fff;
    padding: 20px;
    line-height: 2px;
    margin: 1%;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.previous {
    float: left;
    padding: 0;
    margin: 0;
    height: 90px;
    line-height: 20px;
    text-align: left;
	background-image: url(../img/tiny-arrow-left.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 20px 0 20px 35px;
	position: relative;
	z-index:1;
    border: 0;
    outline: 0 !important;
}
.next {
    float: right;
    padding: 0;
    margin: 0;
    height: 90px;
    line-height: 20px;
    text-align: right;
    background-image: url(../img/tiny-arrow-right.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding: 20px 35px 20px 0;
	position: relative;
	z-index:1;
    border: 0;
    outline: 0 !important;
}
/* Quick Fix */

.label i {
    line-height: 0;
}
.github {
    font-size: 3em;
    color: #aaa;
    text-decoration: none;
    text-align: center;
}

.calendar-day.gray {
	color: #8b8b8b;
}

#current-month.label {
	font-size: 24px;
	font-family: 'Cairo';
}

#current-month {
	height: 90px;
	line-height: 90px;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
}

#current-month span {
	height: 90px;
	line-height: 90px;
	display: inline-block;
	width: 20%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#current-month span.en {
	text-align: right;
    top: 0;
    position: relative;
}
#current-month span.ar {
	text-align: left;
    top: 0;
    position: relative;
}

#current-month span.year {
	font-size: 66px;
	font-weight: 300;
	width: 20%;
    margin: 0 10px;
}

.box-links a {
    font-size: 14px;
    font-weight: bold;
    width: auto;
    background-position: -5px center;
    display: inline-block;
    padding: 0 24px;
    width: 190px;
    float: none !important;
}

.box-links.en a {
	padding-right:0;
}

.box-links.ar a {
	padding-left:0;
}

.box-links ul {
    list-style: none;
	margin: 0;
	padding: 0;
}

#datepicker {
    position: absolute;
    width: 538px;
    background-color: #fff;
    top: 93px;
    left: 122px;
    font-family: 'Cairo';
    font-weight: bold;
    font-size: 22px;
    border: 3px solid #000;
	display: none;
}

#datepicker ul {
    padding: 0;
	margin: 15px 0;
	list-style: none;
    float: left;
    width: 100%;
}

#datepicker ul li  {
	margin: 10px 0;
	padding: 0 15px;
}
#datepicker .en  {
	text-align:left;
	float: left;
}

#datepicker .ar  {
	text-align:right;
	float: right;
}

#datepicker .head {
    border-bottom: 3px solid #000;
	padding: 10px 15px;
	float: left;
	width: 100%;
}

#datepicker .month {
	float:left;
	width: 70%;
}

#datepicker ul li {
	float:left;
	width: 100%;
	display: block;
}

#datepicker .year {
	float:left;
	width: 30%;
	border-right: 3px solid #000;
	height: 555px;
}



@media screen and (min-width: 1520px) {
	.calendar-container {
		max-width: 950px;
	}
	.calendar-day {
		width: 131px;
		height: 131px;
		line-height: 131px;
	}
	#datepicker {
		width: 658px;
		left: 146px;
	}
}



@media screen and (max-width: 1000px) {
	.calendar-day {
		width: 100px;
	}
	.calendar-container {
		width: 733px;
	}
	.previous,.next {
		font-size: 12px;
	}
	#current-month.label {
		font-size: 19px;
	}
	#current-month span.year {
		width: 25%;
	}
	#current-month span.year {
		font-size: 48px;
	}
	#current-month span.ar, #current-month span.en {
		top: 0;
	}
	.calendar-day {
		font-size: 30px;
	}
	
	#datepicker {
		width: 503px;
		left: 115px;
	}
	
}

@media screen and (max-width:  786px) {
	.calendar-day {
		width: 76px;
		height: 76px;
		font-size: 22px;
		line-height: 76px;
	}
	.calendar-container {
		width: 565px;
	}
	#current-month span.year {
		font-size: 30px;
		margin: 0 20px;
		width: 15%;
	}
	#current-month span.ar, #current-month span.en {
		top: 0;
	}
	#current-month.label {
		font-size: 19px;
	}
	#current-month span, #current-month {
		height: 60px;
		line-height: 60px;
	}
	.previous, .next {
		padding-bottom: 0;
		padding-top:0;
		height: 60px;
		font-size: 10px;
		line-height: 12px;
	}
	.next {
		padding-left: 30px;
	}
	.previous {
		
		padding-right: 30px;
	}
	#current-month.label {
		font-size: 15px;
	}
	#datepicker {
		width: 383px;
		left: 91px;
		top: 63px;
		font-size: 13px;
	}
	#datepicker ul li {
		margin: 3px 0;
	}
	#datepicker .year {
		height: 385px;
	}
	.calendar-container .text-right .calendar-container .text-left {
		margin: 0 !important;
	}
	.calendar-container .text-right, .calendar-container .text-left {
		width:50% !important;
	}
}

@media screen and (max-width:  620px) {
	.calendar-day {
		width: 59px;
		height: 59px;
		font-size: 29px;
		line-height: 57px;
	}
	.calendar-container {
		width: 446px;
	}
	.next span, .previous span {
		display: none;
	}
	.next {
		padding-left: 0;
	}
	.previous {
		padding-right: 0;
	}
	#current-month span {
		width: 30%;
	}
	#current-month span.year {
		margin: 0 !important;
		width: 30%;
	}
	#datepicker {
		width: 416px;
		left: 15px;
	}
	#datepicker ul {
		margin: 3px 0;
	}
	#datepicker .head {
		padding: 5px 10px;
	}
	
}

@media screen and (max-width:  465px) {
	.calendar-day {
		width: 50px;
		height: 50px;
		font-size: 21px;
		line-height: 50px;
	}
	.calendar-container {
		width: 383px;
	}
	#current-month span.year {
		font-size: 30px;
		margin: 0 14px;
	}
	#current-month span, #current-month {
		height: 40px;
		line-height: 40px;
	}
	#current-month.label {
		font-size: 13px;
	}
	.previous, .next {
		height: 45px;
		font-size: 10px;
		line-height: 14px;
	}
	
	#datepicker {
		width: 353px;
		left: 15px;
		top: 48px;
	}
	#datepicker ul li {
		margin: 1px 0;
	}
	#datepicker .year {
		height: 337px;
	}
	
	.box-links a {
		font-size: 10px;
		width: 140px;
	}
}

@media screen and (max-width:  401px) {
	.calendar-day {
		width: 45px;
		height: 45px;
		font-size: 21px;
		line-height: 45px;
	}
	.calendar-container {
		width: 348px;
	}
	#current-month span.year {
		font-size: 30px;
		margin: 0 14px;
	}
	#current-month span, #current-month {
		height: 40px;
		line-height: 40px;
	}
	#current-month.label {
		font-size: 13px;
	}
	.previous, .next {
		height: 45px;
		font-size: 10px;
		line-height: 14px;
	}
	#datepicker {
		width: 318px;
	}
	#datepicker .year {
		height: 303px;
	}
}

@media screen and (max-width:  370px) {
	.calendar-day {
		width: 40px;
		height: 40px;
		font-size: 21px;
		line-height: 40px;
	}
	.calendar-container {
		width: 313px;
	}
}