#searchbox {
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	width: 94%;
	border: 3px solid #000;
	font-size: 26px;
	float: left;
    box-sizing: border-box;
	border-right: 0;
    border-radius: 0 !important;
	background-color: #fff;
	/* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#searchbt {
	background-image: url(../img/black-search-icon.png);
	background-position: right center;
	background-repeat: no-repeat;
	width: 6%;
	float: left;
    box-sizing: border-box;
	border: 3px solid #000;
	border-left: 0;
	height: 60px;
	background-color: transparent;
    border-radius: 0 !important;
}

.contents {
	font-size: 20px !important;
	line-height: 30px !important;
}

.contents label {
	font-weight: bold;
	margin-bottom: 34px;
}

.contents ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contents ul li a{
	color: #1e00ff !important;
}

.contents ul li a:hover {
}


@media screen and (max-width: 991px) { 
	#searchbox {
		width: 90%;
	}

	#searchbt {
		width: 8%;
	}

}

@media screen and (max-width: 620px) { 
	#searchbox {
		width: 85%;
	}

	#searchbt {
		width: 15%;
	}
	
	.contents ul li a,.contents label {
		font-size: 16px;
	}

	#searchbox {
		height: 45px;
		line-height: 45px;
		padding: 0px 15px;
	}

	#searchbt {
		height: 45px;
		line-height: 45px;
		background-size: auto 70%;
	}
}